@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background: #fcfcfc;
    pointer-events: auto;

}
 html {
     background: #fcfcfc;

 }
a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}


.backgroundCol {

    background: #fcfcfc;
}
.softbtn {
    background: transparent;
    color: #A07260;
}
.hardbtn {
    background: #A07260;
    color: #F1EBE8;
}
.slidein {
    animation: slidein 2s ease-out;
}
@keyframes slidein {
    0%{
        opacity: 0;
        margin-left: -100vw;
    }

    100%{
        opacity: 100;
        margin-left: 0;
    }
}