@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background: #FCF8F8;

}
 html {
     background: #FCF8F8;

 }
a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}


.backgroundCol {

    background: #FCF8F8;
}
.softbtn {
    background: transparent;
    color: #A07260;
}
.hardbtn {
    background: #A07260;
    color: #F1EBE8;
}